/* .header{
  background-color: violet;
  color: black;
  height: 150px;
}
.Menu{
  display: block;
  width: 100%;
  background-color: blue;
  color: white;
  height: 300px;
  padding: 0px;
}
.Content{
  display: block;
  width: 100%;
  padding: 0px;
  background-color: yellow;
  color: white;
  height: 300px;
}
.Footer{
  padding: 0px;
  background-color: green;
  color: white;
  height: 100px;
}
.col-4{
  display: block;
  width: 100%;
  padding: 0px;
}
.col-8{
  display: block;
  width: 100%;
  padding: 0px;
}
.row{
  width: 100%;
} */

/* .IMG{
background-image: ;
} */
.navbar{
  background-color: indigo;
}
